<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<nav class="left">
		<a href="#menu"><span>Menu</span></a>
	</nav>
	<a href="index.html" class="logo">App name/LOGO</a>
	<nav class="right">
		<!--<a href="#" class="button alt">Log in</a>-->
			
				<div id="status"></div>
				<img id="myImage" src="" style="float:left; width:50px; height:50px"/>
			
			
			<div id="fbLogin">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</div>

	</nav>
		
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


	<!--<button type="button" onclick="javascript:FB.logout(function() { window.location.reload() }); return false;">LOGOUT</button>-->
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="signup.html">Sign Up</a></li>
		<li><a href="friends.html">Chat</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="#" class="button fit">Login</a></li>
	</ul>


</nav>

 {{{body}}}


<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<h2>TEST</h2>
		<ul class="actions">
			<li><span class="icon fa-phone"></span> <a href="#">(917) 628-3996</a></li>
			<li><span class="icon fa-envelope"></span> <a href="#">JackJoeng@gmail.com</a></li>
			<li><span class="icon fa-map-marker"></span> New York, New York USA</li>
		</ul>
	</div>
	<div class="copyright">Copyright &copy; 2018.Jack Yang 傑克-楊. All rights reserved.</div>
</footer>

<!-- Scripts -->
<script data-main="app" src="lib/require.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>


 



