<!-- Banner -->

    <div class="hero-section">
        <!--HERO SECTION-->
        <div class="jumbotron jumbotron-fluid hero-image">
            <div class="container" style="height:400px;">
                <h1 class="display-4"></h1>
                <h1 class="lead">Login with Facebook and start meeting <br>
				new people</h1>
               
            </div>
        </div>
    </div>
    <!---HERO IMAGE ENDS HERE!!!-->

<<<<<<< HEAD
<<<<<<< HEAD

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitle">With Save the date you can connect <br>
                with your friends and more!</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 column1">

                <img src="/assets/images/-1.jpg" style="width: 400px" alt="">
=======
=======

>>>>>>> f4bd7c8450180cc0ac39f43e8bb3706f774b877a
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitle">With Save the date you can connect <br>
                with your friends and more!</h3>
            </div>
        </div>
    </div>

<<<<<<< HEAD
                <img src="/assets/images/-1.jpg" style="width: 300px" alt="">
>>>>>>> 7595e0de142cc0cb13c6636f4d7db3e0f78624e0
=======
    <div class="container">
        <div class="row">
            <div class="col-md-4 column1">

                <img src="/assets/images/-1.jpg" style="width: 400px" alt="">
>>>>>>> f4bd7c8450180cc0ac39f43e8bb3706f774b877a
                <h3>Find People</h3>

                <p>
                    Look for people with you same interest!
                </p>
            </div>

<<<<<<< HEAD
<<<<<<< HEAD
            <div class="col-md-4 column2">
                <img src="/assets/images/-6.jpg" style="width: 400px" alt="">
=======
            <div class="col-md-4">
                <img src="/assets/images/-2.jpg" style="width: 300px" alt="">
>>>>>>> 7595e0de142cc0cb13c6636f4d7db3e0f78624e0
=======
            <div class="col-md-4 column2">
                <img src="/assets/images/-6.jpg" style="width: 400px" alt="">
>>>>>>> f4bd7c8450180cc0ac39f43e8bb3706f774b877a
                <h3>Start Chatting!</h3>
                <p>
                    Chat with them!
                </p>
            </div>

<<<<<<< HEAD
<<<<<<< HEAD
            <div class="col-md-4 column3">
                <img src="/assets/images/-3.jpg" style="width: 400px" alt="">
=======
            <div class="col-md-4">
                <img src="/assets/images/-3.jpg" style="width: 300px" alt="">
>>>>>>> 7595e0de142cc0cb13c6636f4d7db3e0f78624e0
=======
            <div class="col-md-4 column3">
                <img src="/assets/images/-3.jpg" style="width: 400px" alt="">
>>>>>>> f4bd7c8450180cc0ac39f43e8bb3706f774b877a
                <h3>Set a Date!</h3>
            </div>

        </div>
    </div>

<<<<<<< HEAD
<<<<<<< HEAD


     <div class="hero-section">
        <!--HERO SECTION-->
        <div class="jumbotron jumbotron-fluid hero-image-pre-footer">
            <div class="container" style="height:200px;">
                

                <h1 class="lead-pre-footer"> Tell us YOUR success story! </h1>

           
=======
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
=======
>>>>>>> f4bd7c8450180cc0ac39f43e8bb3706f774b877a


     <div class="hero-section">
        <!--HERO SECTION-->
        <div class="jumbotron jumbotron-fluid hero-image-pre-footer">
            <div class="container" style="height:200px;">
                

                <h1 class="lead-pre-footer"> Tell us YOUR success story! </h1>

<<<<<<< HEAD
>>>>>>> 7595e0de142cc0cb13c6636f4d7db3e0f78624e0
=======
           
>>>>>>> f4bd7c8450180cc0ac39f43e8bb3706f774b877a
            </div>
        </div>
    </div>


 



