<!-- Banner -->
<section id="banner">
	<div class="content">
		<h1>Dating App</h1>
		<p>Save your date <br />by inviting your friends to join the conversation.</p>
		<ul class="actions">
			<li><a href="#one" class="button scrolly">Get Started</a></li>
		</ul>
	</div>
</section>

<!-- One -->
<section id="one" class="wrapper">
	<div class="inner flex flex-3">
		<div class="flex-item left">
			<div id = "nameGrab"></div>
			<div id = "idGrab"></div>
		</div>
		<div class="flex-item right">
			<div>
				<h3>Feature 3</h3>
				<p>Coming Soon<br /> Coming Soon</p>
			</div>
			<div>
				<h3>Feature 4</h3>
				<p>Coming Soon<br /> Coming Soon</p>
			</div>
		</div>
	</div>
</section>



 



