<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">
		<header class="align-center">
			<h1>Success Stories</h1>
		</header>
		<hr class="major" />


<div class="container">
        <div class="row">
            <div class="col-md-4">

                <img src="/assets/images/-1.jpg" style="width: 300px" alt="">
                <h3>Top Story 1</h3>
                <p>
					How Two Modern Women Fell In Love
                </p>
            </div>

            <div class="col-md-4">
                <img src="/assets/images/-2.jpg" style="width: 300px" alt="">
                <h3>Top	Story 2</h3>
                <p>
                    From Awkward Texts to a Walk Down the Aisle
                </p>
            </div>

            <div class="col-md-4">
                <img src="/assets/images/-3.jpg" style="width: 300px" alt="">
                <h3>Top Story 3</h3>
				<p>
                    These City Dwellers Found Local Love...
                </p>
            </div>

        </div>
    </div>

	
	<hr class="major" />
	<h1>Share Your Success Stories</h1>

	<!-- Form -->
	<form method="post" action="#">
		<div class="3u 12u$(xsmall)">
			<input type="text" name="name" id="name" value="" placeholder="Story Name" />
		</div><br>

		<div class="12u$">
			<textarea name="message" id="message" placeholder="Story" rows="6"></textarea>
			<br>
			<h5>Upload Images</h5><input type="file" name="pic" accept="image/*">

		</div>
		<!-- Break -->
		<br>
		<div class="12u$">
			<ul class="actions">
				<li><input type="submit" value="Post" /></li>
			</ul>
		</div>
	</form>
	<hr />

</section>

